$base-white: #FFFFFF;

$primary: #659DBD;
$primary-hover: #5B8DAA;

$text: #232323;
$text-70: rgba(35, 35, 35, 0.7);
$text-40: rgba(35, 35, 35, 0.4);

$success: #A2E0B2;
$error: #E7717D;
$disabled: #c9c9c9;
$default: #EAEAEA;